html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* SETTINGS */
:root {
  --main-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --text-hover-focus: rgba(33, 150, 243, 1);
  --white-text-background: rgba(255, 255, 255, 1);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-text-background);
  color: var(--main-text-color);
  /* max-width: 1600px; */
}

.list {
  list-style: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

/* ЛОГО */

.webstudio {
  width: 145px;
  height: 31px;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  margin-right: 93px;
}

.studio {
  color: #2196f3;
}

/* НАВІГАЦІЯ */

.special-link {
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--text-hover-focus);
}

.auth-item {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.auth-item:hover,
.auth-item:focus {
  color: var(--text-hover-focus);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-menu {
  display: flex;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

nav ul li:not(:last-child) {
  margin-right: 50px;
}

.auth-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tel {
  margin-left: 50px;
}

.auth-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.auth-item:hover .auth-icon {
  fill: var(--text-hover-focus);
}

/* Кнопки */

.button {
  padding: 6px 22px;
  background: rgba(245, 244, 250, 1);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: var(--title-text-color);

  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

.button:hover,
.button:focus {
  background: var(--text-hover-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--white-text-background);
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.lii-item:not(:last-child) {
  margin-right: 8px;
}

/* MAIN */

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  color: var(--title-text-color);
  letter-spacing: 0.06em;
}

.section-info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

.projects .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.li-item {
  display: block;
  width: 370px;
  /* height: 368px; */
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.li-item:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.li-item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.projects-info {
  margin: 0 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Підвал */

.footer {
  background: rgba(47, 48, 58, 1);
  padding-top: 60px;
  padding-bottom: 60px;
}

.webstudio-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
}

.logo {
  color: #ffffff;
}

.street {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--white-text-background);
  margin-bottom: 9px;
}

.foooter-info {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  text-decoration: none;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.mmail {
  display: inline-block;
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.adress-footer {
  display: flex;
  flex-direction: column;
}

/* 2 СЕКЦІЯ */

.icon {
  width: 20px;
  height: 20px;
}

.footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footerr-container {
  width: 206px;
  margin-left: 70px;
}

.footerr-container .list {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link:hover {
  background-color: var(--text-hover-focus);
}

.footer-link .icon {
  fill: #ffffff;
}
